@tailwind base;
@tailwind components;
@tailwind utilities;

#nhl {
	display: block;
	padding: 50px 20px 0px 20px;
}

.teamName h2 {
	padding: 5px;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 45px;
}
